.film-item {
  display: grid;
  grid-template-columns: 1fr;

  &__content-container {
    text-align: center;
  }
}

@include breakpoint(midDisplay)  {
  .film-item {
    grid-template-columns: 1fr 1fr;

    &__image-container {
      grid-column: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      margin: 0 auto;
    }
  }
}
