.tile {

  &__content-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    text-align: center;
  }

  &__item-image-container {
    width: 80%;
    margin: 0 auto;
    max-width: 400px;
  }

  &__item-image {
    width: 100%;
  }
}

@include breakpoint(midDisplay)  {
  .tile {

    &__content-container {
      grid-template-columns: 1fr 1fr 1fr
    }
  }
}
